.container{
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.slides{
    display: flex;
    transition: all 0.8s ease;
}
.slide{
    width: 100%; 
    /* it will take its parents width (in this case container is parent whose width is 300px) */
}

.fade{
    animation: fade 1.3s;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
}

@keyframes fade{
    from {opacity: 0.4;}
    to{opacity: 1;}
}