.container{
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.slides{
    display: flex;
    transition: all 0.8s ease;
}
.slide{
    width: 100%;
}

.fade{
    animation: fade 1.3s;
}

@keyframes fade{
    from {opacity: 0.4;}
    to{opacity: 1;}
}